<nav class="navbar navbar-light" style="background-color: #b1b7bc;">
    <a class="navbar-brand" href="#" style="margin-left: 30px; font-weight: bold;">Admin Dashboard</a>

    <div class="form-inline my-5 my-lg-0">
        <button type="button" class="btn btn-primary" (click)="RedirectToCompany()"
            style="margin-right: 10px;">Company</button>
        <button type="button" class="btn btn-primary" (click)="RedirectToCountry()"
            style="margin-right: 10px;">Country</button>
        <button type="button" class="btn btn-primary" (click)="RedirectToEmployee()"
            style="margin-right: 10px;">Employee</button>
    </div>
</nav>