.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.card {
    width: 400px;
    border: 3px solid #000;
    border-radius: 20%;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
}

.card-header {
    background-color: #ffcc00;
    font-weight: bold;
    border-bottom: 3px solid #000;
}

.btn-primary {
    background-color: #28A745;
}

.card-footer {
    border-top: 2px solid #000;
}