.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
    border: 2px solid black;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 500;
}

.form-control {
    border-radius: 6px;
    font-size: 18px;
}

.btn {
    background-color: #337AB7;
    border: none;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}


button {
    margin: 5px;
}

::placeholder {
    color: #ccc;
    /* Use a nearly white or very light gray color */
}

.forgot-password {
    text-align: right;


}

.login-button {
    margin-top: 20px;
}

.forgot-password a:hover {
    color: #0be168;
    /* Change the color to your desired hover color */
    text-decoration: underline;
    /* Add an underline effect on hover */
    /* You can also add other styles as needed */
}

.col-auto a {
    display: inline-block;
    margin-right: 10px;

    /* Adjust the margin as needed to control spacing */
}

.resetbtn {
    background: none;
    border: none;
    outline: none;
    color: #337AB7 !important;
    cursor: pointer;
    text-decoration: underline;
}

.admin-button {
    float: right;
}


#headerData{
 height: 50px;
 background-color:#0288d1;
}

.header h1{
    margin-left: 150px;
    color: white;
}

#info h1{
    margin-left: 30px;
    color: white;
}



.btnsign{
    background-color:#0288d1;
    border: none;
    color: white;
    font-size: 20px;  
    margin-top: 10px;
    margin-right: 30px;
}

.card{
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 40%;
    position: relative;
    margin: -4px 0;
    margin-top: 40px;
    margin-left: 27%;
    background:#fff;

}

.card .card-header{
    background-color: #4a99c7;
    margin: -15px 15px 0;
    height: 40px;
    z-index: 3;  
}

.card-content{
    margin-top: 30px;
}


.input-group-addon{
   margin-left: 30px;
   margin-top: 10px;
    
 
}
#rowdata{
    margin-top: 10px;
}


.active, .btn:hover {
    background-color: #666;
    color: white;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  

  }
  
  .example-full-width {
    width: 100%;   
  }

  .example-full-width{
    background-color: white;
    border-radius: 5px;
  }


#btn{
    display: inline-block;
    margin-left: 8%;
}


.flex-container {
    display: flex;
   
    height: 100%;
}

.flex-child {
    flex: 1;
   
}  

.flex-child:first-child {
    /*margin-right: 20px;*/
} 



.icon-display {
    transform: scale(1);
    margin-left: 85px;
    margin-top: 10px;
 }

 .icon-display1 {
    transform: scale(1);
    margin-left: 75px;
    margin-top: 10px;
  
 }

 #btn{
    display: inline-block;
    margin-left: 8%;
}


 


  

