/* You can add global styles to this file, and also import other style files */

/* .multiselect-dropdown[_ngcontent-ng-c1411523848]   .dropdown-btn[_ngcontent-ng-c1411523848]   .selected-item-container[_ngcontent-ng-c1411523848]   .selected-item[_ngcontent-ng-c1411523848] {
    max-width: 500px !important;
} */

.modal-header {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* .multiselect-dropdown[_ngcontent-ng-c1411523848]
  .dropdown-btn[_ngcontent-ng-c1411523848] {
  border-radius: 25px !important;
} */
