<div class="container">
    <form #addCompanyData="ngForm">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h2>Add Company</h2>
            <span [routerLink]="['/company']" class="fa-solid fa-circle-arrow-left fa-lg"
                style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;"></span>
        </div>
        <form #addUpdateForm="ngForm" class="form-material">
            <div class="row">
                <div class="col-md-4">
                    <label class="label" for="companyCountryId">Country:<span class="required-asterisk">*</span></label>
                    <select id="companyCountryId" name="companyCountryId" [(ngModel)]="company.companyCountryId"
                        required class="form-control" #countryField="ngModel">
                        <option value="">Select</option>
                        <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}
                        </option>
                    </select>
                    <div *ngIf="countryField.invalid && (countryField.dirty||countryField.touched)" class="text-danger">
                        Country is required.
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="label" for="companyCode">Company Code:<span class="required-asterisk">*</span></label>
                    <input type="text" id="companyCode" name="companyCode" [(ngModel)]="company.companyCode" required
                        class="form-control" maxlength="25" #companyCodeField="ngModel">
                    <div *ngIf="companyCodeField.invalid && (companyCodeField.dirty||companyCodeField.touched)"
                        class="text-danger">Company Code
                        is required.</div>
                </div>

                <div class="col-md-4">
                    <label class="label" for="companyName">Company Name:<span class="required-asterisk">*</span></label>
                    <input type="text" id="companyName" name="companyName" [(ngModel)]="company.companyName" required
                        class="form-control" maxlength="100" #companyNameField="ngModel">
                    <div *ngIf="companyNameField.invalid && (companyNameField.dirty||companyNameField.touched)"
                        class="text-danger">Company Name
                        is required.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="label" for="companyContactEmail">Email:<span
                            class="required-asterisk">*</span></label>
                    <input type="email" id="companyContactEmail" name="companyContactEmail"
                        [(ngModel)]="company.companyContactEmail" required pattern="[a-z0-9.]+@[a-z]+\.[a-z]{2,3}"
                        class="form-control" maxlength="50" #companyEmailField="ngModel">
                    <div *ngIf="companyEmailField.invalid && (companyEmailField.dirty||companyEmailField.touched)"
                        class="text-danger">Invalid
                        Email Address.</div>
                </div>

                <div class="col-md-4">
                    <label class="label" for="companyContactPhone">Phone:<span
                            class="required-asterisk">*</span></label>
                    <input type="number" id="companyContactPhone" name="companyContactPhone"
                        [(ngModel)]="company.companyContactPhone" required class="form-control"
                        (input)="limitPhoneLength($event)" #companyPhoneField="ngModel">
                    <div *ngIf="companyPhoneField.invalid && (companyPhoneField.dirty||companyPhoneField.touched)"
                        class="text-danger">Phone is
                        required.</div>
                </div>

                <div class="col-md-4">
                    <label class="label" for="companyAddress">Address:<span class="required-asterisk">*</span></label>
                    <input type="text" id="companyAddress" name="companyAddress" [(ngModel)]="company.companyAddress"
                        required class="form-control" maxlength="255" #companyAddressField="ngModel">
                    <div *ngIf="companyAddressField.invalid && (companyAddressField.dirty||companyAddressField.touched)"
                        class="text-danger">Address
                        is required.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="label" for="companyZip">Zip Code:<span class="required-asterisk">*</span></label>
                    <input type="number" id="companyZip" name="companyZip" [(ngModel)]="company.companyZip" required
                        class="form-control" (input)="limitZipCodeLength($event)" #companyZipField="ngModel">
                    <div *ngIf="companyZipField.invalid && (companyZipField.dirty||companyZipField.touched)"
                        class="text-danger">Zip Code is
                        required.</div>
                </div>

                <div class="col-md-4">
                    <label class="label" for="photoFilename">Logo:<span class="required-asterisk">*</span></label>
                    <input type="file" id="photoFilename" name="photoFilename" (change)="onFileSelected($event)"
                        class="form-control" ngModel [required]="true" #companyLogoField="ngModel">
                    <div *ngIf="companyLogoField.invalid && (companyLogoField.dirty||companyLogoField.touched)"
                        class="text-danger">Logo is
                        required.</div>
                </div>
            </div>

            <img *ngIf="selectedFile" [src]="selectedImageUrl" alt="Selected Image" class="img-fluid">

            <div>
                <button type="submit" [disabled]="!addUpdateForm.valid" (click)="addCompany(company)"
                    class="btn btn-primary mt-3" style="border-radius: 50px;">Submit</button>
            </div>
        </form>
    </form>
</div>
<app-footer></app-footer>