th { 
    text-align: center; /* Or right or left */
}

a.col{
    padding-right: 0;
    flex: 0 0 0%;
}


span, a{
    cursor: pointer;
}

button.btn-sm{
    margin-left: 10px;
    margin-right: 10px;
}
