ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2c2c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a.active {
    background-color: red;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2c2c;
}

.admindashboard {
    color: violet;
    font-weight: bold;
    text-align: center;
}

.navbar-toggler {
    background-color: white;
}

.fa-power-off {
    font-size: 30px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    margin-right: 30px
}