<div class="container">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h2>Add Country</h2>
        <span [routerLink]="['/country']" class="fa-solid fa-circle-arrow-left fa-lg"
            style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;"></span>
    </div>
    <form #addUpdateForm="ngForm" class="form-material">
        <div class="row">
            <div class="col-md-4">
                <label class="label" for="countryName">Name:</label>
                <input type="text" id="countryName" name="countryName" [(ngModel)]="country.countryName"
                    class="form-control" maxlength="50" required #countryNameField="ngModel">
                <div *ngIf="countryNameField.invalid " class="text-danger">Country Name is
                    required.</div>
            </div>
            <div class="col-md-4">
                <label class="label" for="countryCode">Code:</label>
                <input type="number" id="countryCode" name="countryCode" [(ngModel)]="country.countryCode"
                    class="form-control" required #countryCodeField="ngModel">
                <div *ngIf="countryCodeField.invalid " class="text-danger">Country Code is required.</div>
            </div>
        </div>
        <div>
            <button type="submit" [disabled]="!addUpdateForm.valid" (click)="addCountry(country)"
                class="btn btn-primary mt-3" style="border-radius: 50px;">Submit</button>
        </div>
    </form>
</div>
<app-footer></app-footer>