<div class="container">

    <div class="d-flex justify-content-between align-items-center w-100">
        <h2>Add Country</h2>
        <span [routerLink]="['/country']" class="fa-solid fa-circle-arrow-left fa-lg"
            style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;"></span>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="label" for="countryName">Country Name:</label>
            <input type="text" id="countryName" name="countryName" [(ngModel)]="country.countryName" required
                class="form-control" maxlength="50">
        </div>
        <div class="col-md-4">
            <label class="label" for="countryCode">Country Code:</label>
            <input type="number" id="countryCode" name="countryCode" [(ngModel)]="country.countryCode" required
                class="form-control">
        </div>

    </div>






    <div>
        <button type="submit" [disabled]="!isFormValid()||submitButtonDisabled" (click)="addCountry(country)"
            class="btn btn-primary mt-3" style="border-radius: 50px;">Submit</button>
    </div>

</div>

<app-footer></app-footer>