<div class="container">
    <fieldset class="border rounded-3">
        <legend class="float-none w-auto px-2">Add Job Location</legend>
        <form #addLocation="ngForm">

            <div class="d-flex justify-content-between align-items-center w-100">
                <h2></h2>
                <span (click)="navigateToPortal()" class="fa-solid fa-circle-arrow-left fa-lg"
                    style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;"></span>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="label" for="locationType">Location Type:<span
                            class="required-asterisk">*</span></label>
                    <input type="text" id="locationType" name="locationType" [(ngModel)]="jobLocation.locationType"
                        required class="form-control" maxlength="25" #locationType="ngModel">
                    <div *ngIf="locationType.invalid && (locationType.dirty||locationType.touched) "
                        class="text-danger">
                        portal name is required.
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="label" for="locationDescription">location Description:<span
                            class="required-asterisk">*</span></label>

                    <input type="text" id="locationDescription" name="locationDescription"
                        [(ngModel)]="jobLocation.locationDescription" required class="form-control" maxlength="255"
                        #locationDescription="ngModel">
                    <div *ngIf="locationDescription.invalid && (locationDescription.dirty||locationDescription.touched)"
                        class="text-danger">
                        Description is required.
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="label" for="bench">Is for bench?</label>
                    <div>
                        <input type="checkbox" id="bench" name="bench" [(ngModel)]="jobLocation.forBench"
                            class="custom-checkbox form-check-input">
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="label" for="sourcing">Is for sourcing ?</label>
                    <div>
                        <input type="checkbox" id="sourcing" name="sourcing" [(ngModel)]="jobLocation.forSourcing"
                            class="custom-checkbox form-check-input">
                    </div>
                </div>

            </div>

            <div>
                <button type="submit" [disabled]="!addLocation.valid" (click)="addJobLocation(jobLocation)"
                    class="btn btn-primary mt-3" style="border-radius: 50px;">Submit</button>
            </div>
        </form>
    </fieldset>
</div>

<app-footer></app-footer>