<div class="container">
    <!-- Add button at the top right corner -->
    <button class="btn btn-primary float-end mt-1" style="border-radius: 50px;" (click)="RedirectToAdd()">Add</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Country ID</th>
                <th>Country Name</th>
                <th>Country Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries">
                <td>{{ country.countryId }}</td>
                <td>{{ country.countryName }}</td>
                <td>{{ country.countryCode }}</td>
                <td>
                    <!-- Update Button -->
                    <button class="btn btn-primary me-3" style="border-radius: 50px;"
                        (click)="redirectToUpdate(country)">Update</button>
                    <!-- Delete Button -->

                    <button class="btn btn-danger me-3" style="border-radius: 50px;"
                        (click)="deleteCountry(country.countryCode)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>