<nav class="navbar navbar-light" style="background-color: #b1b7bc;">
    <a class="navbar-brand" href="#" style="margin-left: 30px; font-weight: bold;">Admin Dashboard</a>

    <div class="form-inline my-5 my-lg-0">
        <a class="navbar-brand" href="#" style="margin-left: 10px;font-weight: bold;">Countries Details</a>
    </div>
</nav>
<div class="container">
    <!-- Add button at the top right corner -->
    <div class="d-flex justify-content-between align-items-center w-100">
        <span (click)="RedirectToAdd()" class="fa-solid fa-circle-plus"
            style='font-size:30px;color:  rgb(33, 176, 40); margin-top: 10px;'></span>


        <span (click)=" RedirectToAdmin()" class="fa-solid fa-circle-arrow-left fa-lg"
            style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer; margin-top: 10px;"></span>
    </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th>Country ID</th> -->
                <th>Country Name</th>
                <th>Country Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries">
                <!-- <td>{{ country.countryId }}</td> -->
                <td>{{ country.countryName }}</td>
                <td>{{ country.countryCode }}</td>
                <td>

                    <!-- Update Button -->
                    <span (click)="redirectToUpdate(country)" class="fa-solid fa-circle-down fa-rotate-180 fa-xl"
                        style='font-size:23px;color: rgb(64, 109, 234);'></span>
                    <!-- Delete Button -->
                    &nbsp;
                    &nbsp;
                    <span (click)="deleteCountry(country.countryCode)" class='fa-solid fa-trash fa-xl'
                        style='font-size:23px;color: red;'></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>