<app-header></app-header>
<div class="container">
    <fieldset class="border rounded-3">
        <legend class="float-none w-auto px-2">Status</legend>

        <!-- Add button at the top right corner -->
        <div class="d-flex justify-content-end align-items-center w-100">
            <span [routerLink]="['/addStatus']" class="fa-solid fa-circle-plus"
                style='font-size:30px;color:  rgb(33, 176, 40); padding-bottom: 1%;'></span>

            <!-- <span [routerLink]="['/adminDash']" class="fa-solid fa-circle-arrow-left fa-lg"
                style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;padding-bottom: 1%;"></span> -->
        </div>

        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th>Country ID</th> -->
                        <th>Status Code</th>
                        <th>Description</th>
                        <th>Status Order</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let status of statuses">
                        <!-- <td>{{ country.countryId }}</td> -->
                        <td>{{ status.statusCode }}</td>
                        <td>{{ status.statusDescription }}</td>
                        <td>{{status.statusOrder}}</td>
                        <td>

                            <!-- Update Button -->
                            <span (click)="redirectToUpdate(status)" class="fa-solid fa-circle-down fa-rotate-180 fa-xl"
                                style='font-size:23px;color: rgb(64, 109, 234);'></span>
                            <!-- Delete Button -->
                            &nbsp;
                            &nbsp;
                            <span (click)="onDeleteStatus(status.statusId)" class='fa-solid fa-trash fa-xl'
                                style='font-size:23px;color: red;'></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>



<app-footer></app-footer>