.table-container {
    border: 1px solid black;
    /* You can customize the border style and color here */
    padding: 0% 1% 1% 1%; 
    /* top right botton left */
    /* Add some padding to create space between the border and content */
    border-radius: 5px;
    /* Optionally, add rounded corners */
}

fieldset {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 2px solid black !important;

}

.p-5 {
    padding: 1rem !important;
}