<div class="container">
    <h2>Update Employee</h2>
    <div class="row">
        <!-- First Name -->
        <div class="col-md-4">
            <label for="firstName"><strong>First Name:</strong></label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="employee.firstName" required
                class="form-control">
        </div>
        <!-- Last Name -->
        <div class="col-md-4">
            <label for="lastName"><strong>Last Name:</strong></label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName" required
                class="form-control">
        </div>
        <!-- Dropdown to select the country -->
        <div class="col-md-4">
            <label class="label" for="countryId"><strong>Country:</strong></label>
            <select id="countryId" name="countryId" [(ngModel)]="employee.countryId" required class="form-control">
                <option value="undefined" selected>Select a country</option>
                <!-- Loop through the 'countries' array and display each country as an option -->
                <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
            </select>
        </div>

        <!-- Dropdown to select the company -->
        <div class="col-md-4">
            <label class="label" for="companyId"><strong>Company:</strong></label>
            <select id="companyId" name="companyId" [(ngModel)]="employee.companyId" required class="form-control">
                <option value="undefined" selected>Select a company</option>
                <!-- Loop through the 'companies' array and display each company as an option -->
                <option *ngFor="let company of companies | advFilter:'companyCountryId':employee.countryId"
                    [value]="company.companyId">
                    {{ company.companyName }}</option>
            </select>
        </div>

        <!-- Date of Birth -->
        <div class="col-md-4">
            <label for="birthDate"><strong>DOB:</strong></label>
            <input type="date" id="birthDate" name="birthDate" [(ngModel)]="employee.birthDate" required
                class="form-control" max="{{ getMaxDate() }}">
        </div>
        <!-- Employee Email -->
        <div class="col-md-4">
            <label for="employeeEmail"><strong>Email:</strong></label>
            <input type="email" id="employeeEmail" name="employeeEmail" [(ngModel)]="employee.employeeEmail" required
                class="form-control">
        </div>
    </div>
    <!-- Submit Button -->
    <div>
        <button type="submit" (click)="updateEmployeeByEmployeeId()" class="btn btn-primary mt-3">Submit</button>
    </div>
</div>