.form-label {
  font-weight: bold;
}

.required-asterisk {
  color: red;
}

::placeholder {
  color: #ccc;
  /* Use a nearly white or very light gray color */
}

.form-control {
  border: 1px solid black;
}

.form-control[type="file"] {
  border: 1px solid black;
}

.form-control.select {
  border: 1px solid black;
}

/* CSS for background color of fields that are disabled  */
/* .form-control[disabled] {
    background-color: yellow;

} */

.borderclass {
  border: 3px solid orangered;
}
.br-3 {
  border-right: 3px solid orangered;
  /* border-radius: 25px; */
}

.bl-3 {
  border-left: 3px solid orangered;
  /* border-radius: 25px; */
}

.bt-3 {
  border-top: 3px solid orangered;
  /* border-radius: 25px; */
}

.bb-3 {
  border-bottom: 3px solid orangered;
  /* border-radius: 25px; */
}

.selectedPlacement {
  /* font-weight: bold; */
  color: blue;
}

fieldset {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border: 2px solid black !important;
 
}

legend {
  font-size: large;
  background-color: #0288d1;
  color: white;
}

/* .modal-xl{
    max-width: 1350px !important;
} 
[ngClass]="{'modal-lg':task.taskParent==0, 'modal-xl':task.taskParent>0}"
.modal-lg{
    max-width: 1000px !important;
}  */

.disablePanel {
  pointer-events: none;

}

#headerinfo{
  width: 100%;
  border: 1px groove red;
  background-color:#0288d1;
  height: 60px;
}



.datainput:active, 
.datainput:focus 
{
    border:0.5em solid #00c; /* here configure as your needs */
    /*color:#00c;*/
 }

 input[type=text],[type=date],[type=textarea],[type=dropdown]{
  width: 100%;
  /* padding: 12px 20px;
  margin: 8px 0; */
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 0;
  height: 30px;
  font-size: 14px;
}

input[type=text]:focus ,[type=date]:focus,[type=textarea]:focus{
  width: 100%;
  /* padding: 12px 20px;
  margin: 8px 0; */
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid dodgerblue;
  border-radius: 0;
 
}

label{
  font-size: 14px;
  color: black;
}



