<nav class="navbar navbar-light" style="background-color: #b1b7bc;">
    <a class="navbar-brand" href="#" style="margin-left: 30px; font-weight: bold;">Admin Dashboard</a>

    <div class="form-inline my-5 my-lg-0">
        <a class="navbar-brand" href="#" style="margin-left: 10px;font-weight: bold;">Company Details</a>
    </div>
</nav>
<div class="container">
    <div class="d-flex justify-content-between align-items-center w-100">
        <span (click)="RedirectToAdd()" class="fa-solid fa-circle-plus"
            style='font-size:30px;color:rgb(33, 176, 40); margin-top: 10px;'></span>

        <span (click)=" RedirectToAdmin()" class="fa-solid fa-circle-arrow-left fa-lg"
            style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer; margin-top: 10px;"></span>
    </div>
    <!-- Add button at the top right corner -->



    <table class="table table-striped">
        <thead>
            <tr>

                <th>Country Name</th>
                <th>Company Name</th>
                <th>Company Code</th>
                <th>Contact Email</th>
                <th>Contact Phone</th>
                <th>Address</th>
                <th>ZIP</th>
                <th>Actions</th> <!-- New column for update and delete buttons -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">

                <td>{{ getCountryNameById(company.companyCountryId) }}</td>
                <td>{{ company.companyName }}</td>
                <td>{{ company.companyCode }}</td>
                <td>{{ company.companyContactEmail }}</td>
                <td>{{ company.companyContactPhone }}</td>
                <td>{{ company.companyAddress }}</td>
                <td>{{ company.companyZip }}</td>
                <!-- <td>{{ company.companyCountryId }}</td> -->


                <td>
                    <!-- Update Button -->
                    <span (click)="redirectToUpdate(company)" class="fa-solid fa-circle-down fa-rotate-180 fa-xl"
                        style='font-size:23px;color: rgb(64, 109, 234);'></span>
                    <!-- Delete Button -->
                    &nbsp;
                    &nbsp;
                    <span (click)="deleteCompany(company.companyCode)" class='fa-solid fa-trash fa-xl'
                        style='font-size:23px;color: red;'></span>

                </td>
            </tr>
        </tbody>
    </table>
</div>