span {
    margin-bottom: 10px;
}

.icons {
    padding: 0px 12px;
}

.table-custom-font-size td,
.table-custom-font-size th {
    /* font-size: 15px;  */
}

.table {
    margin-top: 5px;
    border-color: black;
    border-width: 4px;
}

.taskTable {
    margin-top: 5px;
}