<div class="container">
    <form #addStatusData="ngForm">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h2>Add Status</h2>
            <span [routerLink]="['/status']" class="fa-solid fa-circle-arrow-left fa-lg"
                style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;"></span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label" for="statusCode">Status Code:</label>
                <input type="text" id="statusCode" name="statusCode" [(ngModel)]="status.statusCode" required
                    class="form-control">
            </div>
            <div class="col-md-4">
                <label class="label" for="statusDescription"> Description :</label>
                <input type="text" id="statusDescription" name="statusDescription"
                    [(ngModel)]="status.statusDescription" required class="form-control">
            </div>
            <div class="col-md-4">
                <label class="label" for="statusOrder"> Status Order :</label>
                <input type="number" id="statusOrder" name="statusOrder" [(ngModel)]="status.statusOrder" required
                    class="form-control">
            </div>
        </div>






        <div>
            <button type="submit" [disabled]="!addStatusData.valid" (click)="onSaveStatus(status)"
                class="btn btn-primary mt-3" style="border-radius: 50px;">Submit</button>
        </div>
    </form>
</div>

<app-footer></app-footer>