.label {
    font-weight: bold;
}

.required-asterisk {
    color: red;
}

.custom-checkbox {
    /* Increase the size of the checkbox */
    transform: scale(1.9);
    margin-left: 0.5%;
    margin-top: 20px;
    margin-bottom: 10px;
    /* Add some space between the checkbox and the label */
    /* Add any other styling you want here */

}