<div class="row align-right">
    <div class="border-around">
        <div class="row align-items-center">
            <div class="col-auto">
                <b> Emp :</b>
            </div>
            <div class="col">
                <!-- Use the ng-multiselect-dropdown component for multi-select -->
                <ng-multiselect-dropdown [placeholder]="'Select Employees'" [data]="employeeOptions"
                    [(ngModel)]="selectedEmployees" [settings]="dropdownSettings" (onSelect)="onChangeEmployee()"
                    (onDeSelect)="onChangeEmployee()" (onSelectAll)="onChangeEmployee()"
                    (onDeSelectAll)="onChangeEmployee()">
                </ng-multiselect-dropdown>
            </div>
        </div>
    </div>
</div>