<!-- Modal -->
<div #createTaskChildModal class="modal fade" data-bs-backdrop="static" id="createchildTask{{modalId}}" tabindex="-1"
    aria-labelledby="createTaskLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" style="max-width: 1300px;">

        <!-- <div class="modal-content">
            <div class="modal-header">
                <h1 *ngIf="!updateScreen" class="modal-title fs-5" id="createTaskLabel">Create Task<ng-container
                        *ngIf="task.taskParent!=0"> for - {{parentTask.taskName}}
                    </ng-container></h1>
                <h1 *ngIf="updateScreen" class="modal-title fs-5" id="createTaskLabel">Update Task</h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div>

            </div> -->

            <!-- <div class="row modal-body justify-content-center">
                <div class="col-md-6 text-center"> -->

                    <!-- <fieldset class="border rounded-3">
                        <legend class="float-none w-auto px-2">Candidate Type</legend>
                        <div class="row">
                            <div class="col">
                                <input type="radio" name="placement" id="internalplacement"
                                    [(ngModel)]="task.placementId" [value]="INTERNAL_PLACEMENT_ID"
                                    [disabled]="updateScreen" (change)="onChangeCandidateType()">&nbsp;
                                <label for="internalplacement"
                                    [ngClass]="{'selectedPlacement': task.placementId === INTERNAL_PLACEMENT_ID}">Bench
                                    applicant</label>
                            </div>
                            <div class="col">
                                <input type="radio" name="placement" id="externalplacement"
                                    [(ngModel)]="task.placementId" [value]="EXTERNAL_PLACEMENT_ID"
                                    [disabled]="updateScreen" (change)="onChangeCandidateType()">&nbsp;
                                <label for="externalplacement"
                                    [ngClass]="{'selectedPlacement': task.placementId === EXTERNAL_PLACEMENT_ID}">Sourcing
                                    candidate</label>
                            </div>
                        </div>
                    </fieldset> -->

                <!-- </div> -->
                <!-- <ng-container *ngTemplateOutlet="taskForm;"></ng-container> -->
            <!-- </div> -->

        <!-- </div> -->
    </div>

</div>