<app-header></app-header>
<div class="container">
    <!-- Add button at the top right corner -->

    <fieldset class="border rounded-3">
        <legend class="float-none w-auto px-2">Bench Candidate Details</legend>

        <div class="d-flex justify-content-end align-items-center w-100">
            <span (click)="navigateToCreateBenchCandidate()" class="fa-solid fa-circle-plus"
                style='font-size:30px;color:  rgb(33, 176, 40); padding-bottom: 1%;'></span>

            <!-- <span [routerLink]="['/adminDash']" class="fa-solid fa-circle-arrow-left fa-lg"
            style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer; margin-top: 10px;"></span> -->
        </div>

        <!-- Table to display the list of benchCandidates -->
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <!-- Table header row -->
                    <tr>
                        <!-- Column headers -->
                        <th>Candidate Name</th>
                        <th>Visa Type</th>
                        <th>Tax Type</th>
                        <th>Experience</th>
                        <!-- <th>Placed</th> -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through each filtered benchCandidate in the 'benchCandidates' array and display their data -->
                    <tr *ngFor="let benchCandidate of allBenchCandidate">
                        <!-- Display benchCandidate data in each table cell -->

                        <td>{{ benchCandidate.benchCandidateName }}</td>
                        <td>{{ getVisaTypeNameById(benchCandidate.visaTypeId) }}</td>
                        <td>{{ getTaxTypeNameById(benchCandidate.taxTypeId) }}</td>
                        <td>{{ benchCandidate.experience }}</td>
                        <!-- <td>{{ benchCandidate.candidatePlace}}</td> -->

                        <td>
                            <!-- Update Button -->
                            <span (click)="navigateToUpdateBenchCandidate(benchCandidate)"
                                class="fa-solid fa-circle-down fa-rotate-180 fa-xl"
                                style='font-size:23px;color: rgb(64, 109, 234);'></span>

                            <!-- Delete Button -->
                            &nbsp;
                            &nbsp;
                            <span (click)="deleteBenchCandidate(benchCandidate)" class='fa-solid fa-trash fa-xl'
                                style='font-size:23px;color: red;'>
                            </span>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>


<app-footer></app-footer>