<!-- Modal -->
<div #createTaskModal class="modal fade" id="createTask{{parentTask.taskId}}" tabindex="-1"
    aria-labelledby="createTaskLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 *ngIf="!updateScreen" class="modal-title fs-5" id="createTaskLabel">Create Task</h1>
                <h1 *ngIf="updateScreen" class="modal-title fs-5" id="createTaskLabel">Update Task</h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- {{task|json}} -->
                <ng-container *ngTemplateOutlet="taskForm;"></ng-container>
            </div>

        </div>
    </div>
</div>


<!-- Form  -->
<ng-template #taskForm>
    <!-- {{task|json}} -->
    <form #addTaskForm="ngForm">
        <div class="row">
            <div class="col">
                <label for="parentTaskId" class="form-label">Parent Task</label><br>
                <select class="form-control" name="parentTaskId" id="parentTaskId" name="parentTaskId"
                    [(ngModel)]="task.taskParent" [required]="true" [disabled]="updateScreen">
                    <option *ngIf="!updateScreen" value="undefined" disabled>Select Option</option>
                    <option *ngIf="!updateScreen" value="0">Create As Parent</option>
                    <!-- <ng-container *ngFor="let parentTaskObject of parentTaskList"> -->
                    <option *ngIf="parentTask.taskId" value="{{parentTask.taskId}}">{{parentTask.taskName}}</option>
                    <!-- </ng-container> -->

                    <!-- <ng-container *ngIf="parentTask.childTask">
                        <ng-container *ngFor="let childTask of parentTask.childTask">
                            <option value="{{childTask.taskId}}">{{childTask.taskName}}</option>

                        </ng-container>
                    </ng-container> -->
                </select>

            </div>
            <div class="col">
                <label for="taskName" class="form-label">Task Name</label>
                <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Enter task name"
                    [(ngModel)]="task.taskName" [required]="true">
            </div>

        </div>

        <div class="row">
            <div class="col">
                <label for="taskDescription" class="form-label">Task Description</label>
                <textarea class="form-control" id="taskDescription" name="taskDescription"
                    [(ngModel)]="task.taskDescription" placeholder="Enter task description"
                    [required]="true"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="taskCreatedBy" class="form-label">Created By</label><br>
                <select class="form-control" name="taskCreatedBy" id="taskCreatedBy" name="taskCreatedBy"
                    [(ngModel)]="task.taskCreatedBy" [required]="true" disabled>
                    <option value="undefined" disabled>Select Option</option>
                    <option *ngIf="!updateScreen" value="{{employeeId}}" selected="true">Self</option>
                    <ng-container *ngIf="updateScreen">
                        <ng-container *ngFor="let employee of allEmployees">
                            <option value="{{employee.employeeId}}">{{employee.firstName}} {{employee.lastName}}
                            </option>
                        </ng-container>
                    </ng-container>

                </select>
            </div>
            <div class="col-sm-4">
                <label for="taskAssignedTo" class="form-label">Assigned To</label><br>
                <select class="form-control" name="taskAssignedTo" id="taskAssignedTo" name="taskAssignedTo"
                    [(ngModel)]="task.taskAssignedTo" [required]="true">
                    <option value="undefined" disabled>Select Option</option>
                    <option value="{{employeeId}}" selected="true">Self</option>
                    <ng-container *ngFor="let employee of allEmployees">
                        <option *ngIf="employeeId!=employee.employeeId" value="{{employee.employeeId}}">
                            {{employee.firstName}} {{employee.lastName}}</option>
                    </ng-container>
                </select>
            </div>

            <div class="col-sm-3">
                <label for="taskStatus" class="form-label">Status</label><br>
                <select class="form-control" name="taskStatus" id="taskStatus" name="taskStatus"
                    [(ngModel)]="task.taskStatus" [required]="true" (change)="onChangeStatus(task.taskStatus)">
                    <option value="undefined" disabled>Select Option</option>
                    <ng-container *ngFor="let status of allStatus">
                        <option value="{{status.statusId}}">{{status.statusCode |titlecase}}
                        </option>
                    </ng-container>
                </select>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="startDate" class="form-label">Start date</label>
                <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="task.taskStartDate"
                    [required]="true" [disabled]="updateScreen" [min]="currentDate">
            </div>
            <div class="col-sm-3">
                <label for="endDate" class="form-label">End date</label>
                <input type="date" class="form-control" id="endDate" name="endDate" [min]="task.taskStartDate"
                    [(ngModel)]="task.taskEndDate" [required]="true"
                    [disabled]="task.taskStartDate==null || updateScreen">
            </div>
            <div class="col-sm-3">
                <label for="actualStartDate" class="form-label">Actual Start date</label>
                <input type="date" class="form-control" id="actualStartDate" name="actualStartDate" [min]="currentDate"
                    [max]="(task.taskStatus == statusEnum.DONE)?currentDate:task.taskEndDate"
                    [disabled]="task.taskStartDate == null || task.taskEndDate == null || task.taskStatus == statusEnum.CREATED "
                    [(ngModel)]="task.taskActualStartDate" [required]="true">
            </div>

            <div class="col-sm-3">
                <label for="actualEndDate" class="form-label">Actual End date</label>
                <input type="date" class="form-control" id="actualEndDate" name="actualEndDate"
                    [(ngModel)]="task.taskActualEndDate" [min]="task.taskActualStartDate" [max]="currentDate"
                    [disabled]="task.taskStatus != statusEnum.DONE || task.taskEndDate == null || task.taskActualStartDate == null"
                    [required]="true">

            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="taskReason" class="form-label">Reason</label>
                <textarea class="form-control" id="taskReason" name="taskReason" [(ngModel)]="task.reason"
                    placeholder="Enter reason" [required]="true"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label" for="uploadFile">Upload File</label>
                <input type="file" id="uploadFile" name="uploadFile" (change)="onFileSelected($event)"
                    class="form-control" [required]="true">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label" for="attachement">Attachements</label>
                <ul>
                    <li *ngFor="let file of fileNames">
                        <a href="javascript:void(0)" (click)="downloadFile(file)">{{ file }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer mt-3">
            <button [disabled]="!addTaskForm.valid"
                *ngIf="updateScreen && (employeeId==backupTask.taskCreatedBy || employeeId ==backupTask.taskAssignedTo)"
                type="submit" class="btn btn-primary" (click)="onClickUpdate(task)">Update</button>

            <ng-container
                *ngIf="updateScreen && !(employeeId==backupTask.taskCreatedBy || employeeId ==backupTask.taskAssignedTo)">
                <label style="color: red;">* Update only allowed to Creator/ Assignee</label></ng-container>

            <button [disabled]="!addTaskForm.valid" *ngIf="!updateScreen" type="submit" class="btn btn-primary"
                (click)="onClickSave(task)">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeButton">Close</button>
        </div>

    </form>
</ng-template>

<!-- {{parentTaskList|json}} -->
<!-- {{parentTask.taskName|json}} -->