.form-gap {
    padding-top: 70px;
}

#headerData{
    height: 50px;
    background-color:#0288d1;
   }
   
   .header h1{
       margin-left: 150px;
       color: white;
   }
   
   #info h1{
       margin-left: 30px;
       color: white;
   }
   

   .flex-container {
    display: flex;
   
    height: 100%;
}

.flex-child {
    flex: 1;
   
}  

.flex-child:first-child {
    /*margin-right: 20px;*/
} 



.icon-display {
    transform: scale(1);
    margin-left: 85px;
    margin-top: 10px;
 }

 .icon-display1 {
    transform: scale(1);
    margin-left: 75px;
    margin-top: 10px;
  
 }

 #btn{
    display: inline-block;
    margin-left: 8%;
}


.btnsign{
    background-color:#0288d1;
    border: none;
    color: white;
    font-size: 20px;  
    margin-top: 10px;
    margin-right: 30px;
}