<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <div style="display: flex; align-items: center;">
            <!-- Container for logo and name with margin-left -->
            <div style="display: flex; align-items: center; margin-left: 100px;">
                <!-- Display the company's photo -->
                <img src="{{displayCompanyLogo}}/{{companyId}}"
                    style="width: 100px; height: 60px; border: 2px solid; border-radius: 15px;">
                <label class="company" for="company" style="color: wheat; margin-left: 10px;">
                    {{ company.companyName }}
                </label>
            </div>
        </div>

        <!-- Centered text for "TaskDashboard" -->
        <div style="flex-grow: 1; text-align: center;">
            <h1 style="color: white; margin: 0;">Task Dashboard</h1>
        </div>

        <div style="display: flex; align-items: center; margin-right: 40px;">
            <img src="{{displayEmployeeLogo}}/{{loggedInUserData.employeeId}} "
                style="width: 60px; height: 60px; border: 2px solid; border-radius: 15px;">
            <label class="name" for="name" style="color: wheat; margin-left: 10px;">
                {{loggedInUserData.firstName}} {{loggedInUserData.lastName}}
            </label>
        </div>

        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span (click)="logout()" class="navbar-text fa-solid fa-power-off"></span>
        </div>
    </div>
</nav>
<hr>
<hr>
<hr>


<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <!-- <div>
            
            <label class="name" for="name">Welcome
                {{loggedInUserData.firstName}} {{loggedInUserData.lastName}}
            </label>

        </div> -->

        <div class="container">

            <!-- status buttons (Created/ In-Progress/ Done) -->
            <app-status-buttons (onChangeFilter)="getParentTask($event)"></app-status-buttons>

        </div>

        <!-- task table  -->
        <app-task-table [parentTaskData]="parentTaskData" [employees]="employees"
            [allStatus]="allStatus"></app-task-table>

    </div>

</div>