<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <div style="display: flex; align-items: center;">
            <!-- Container for logo and name with margin-left -->
            <div style="display: flex; align-items: center; ">
                <!-- Display the company's photo -->
                <img src="{{displayCompanyLogo}}/{{companyId}}"
                    style="width: 100px; height: 60px; border: 2px solid; border-radius: 15px;">
                <!-- <label class="company" for="company" style="color: wheat; margin-left: 10px;">
                    {{ company.companyName }}
                </label> -->
            </div>
        </div>

        <!-- Centered text for "TaskDashboard" -->
        <div style="flex-grow: 1; text-align: center;">
            <h1 style="color: white; margin: 0;">Task Dashboard</h1>
        </div>

        <div style="display: flex; align-items: center; margin-right: 40px;">
            <label class="name" for="name" style="color: wheat; margin-left: 10px;">
                {{loggedInUserData.firstName}}
            </label>
            <img src="{{displayEmployeeLogo}}/{{loggedInUserData.employeeId}} "
                style="width: 60px; height: 60px; border: 2px solid; border-radius: 15px; margin-left: 15px;">

        </div>

        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <span (click)="logout()" class="navbar-text fa-solid fa-power-off"></span>
        </div>
    </div>
</nav>
<hr>
<hr>
<hr>


<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <!-- <div>
            
            <label class="name" for="name">Welcome
                {{loggedInUserData.firstName}} {{loggedInUserData.lastName}}
            </label>

        </div> -->

        <div class="container">

            <!-- status buttons (Created/ In-Progress/ Done) -->
            <!-- <app-status-buttons (onChangeFilter)="getParentTask($event)"></app-status-buttons> -->
            <div class="row">
                <div class="col-md-3">
                    <app-status-dropdown (onChangeStatusFilter)="onChangeStatusFilter($event)"></app-status-dropdown>

                </div>
                <div class="col-md-3 ms-3" *ngIf="loggedInUserData.showAllTasks">
                    <app-employee-filter (onChangeEmployeeFilter)="onChangeEmployeeFilter($event)"
                        [employees]="employees"> </app-employee-filter>

                </div>

                <!-- <div class="col-md-3 ms-3" *ngIf="displayAllTask">
                    <label class="form-check-label" for="normal"><strong>Normal Employee</strong></label>
                    <div>
                        <input type="checkbox" id="showalltasks" name="showalltasks" (click)="onCheckedNormalEmployee($event)"
                            class="custom-checkbox form-check-input">
                    </div>

                </div> -->
            </div>
        </div>

        <!-- task table  -->


        <table class="table table-striped">
            <tr>
            </tr>
            <tr *ngFor="let emp of task">
                <!-- <li>{{emp | json}}</li> -->
                <!-- <td>{{emp.taskId}}</td>
                <td>{{emp.taskName}}</td>
                <td>{{emp.taskDescription}}</td>
                <td>{{emp.taskCreatedBy}}</td>
                <td>{{emp.taskAssignedTo}}</td>
                <td>{{emp.taskStatus}}</td>
                <td>{{emp.taskStartDate}}</td>
                <td>{{emp.taskEndDate}}</td> -->


                <mat-expansion-panel class="expansionrow" hideToggle="false" (click)="toggleChildTable(emp)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>{{emp.taskName}}</b>
                        </mat-panel-title>
                        <mat-panel-description class="align-right">
                            <!-- <div class="row">
                                                <div class="col icons addtask"> -->
                            <span title="Add Task" class="fa-solid fa-circle-plus fa-xl addtask"
                                style="color: #03a300;"></span>
                            <!-- </div>
                                            </div> -->
                            <!-- This is a summary of the content -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <table class="table table-striped table-bordered table-custom-font-size">
                        <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>CreatedBy</th>
                            <th>AssignedTo</th>
                            <th>taskStatus</th>
                            <th>taskStartDate</th>
                            <th>taskEndDate</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td>{{emp.taskName}}</td>
                                <td>{{emp.taskDescription}}</td>
                                <td>{{emp.taskCreatedBy}}</td>
                                <td>{{emp.taskAssignedTo}}</td>
                                <td>{{emp.taskStatus}}</td>
                                <td>{{emp.taskStartDate}}</td>
                                <td>{{emp.taskEndDate}}</td>
                            </tr>

                            <tr>
                                <ng-container *ngFor="let childData of ChildTaskData1">

                                    <!-- if child's parent id and parent id is same OR child's task id and parent task id is same(means it is parent task ) -->
                                    <ng-container
                                        *ngIf="childData.taskParent == emp.taskId || (childData.taskId == emp.taskId)">
                                        <td>{{childData.taskName}}</td>
                                        <td>{{childData.taskDescription}}</td>
                                        <td>{{childData.taskCreatedBy}}</td>
                                        <td>{{childData.taskAssignedTo}}</td>
                                        <td>{{childData.taskStatus}}</td>
                                        <td>{{childData.taskStartDate}}</td>
                                        <td>{{childData.taskEndDate}}</td>

                                    </ng-container>
                                </ng-container>
                            </tr>






                        </tbody>
                    </table>

                </mat-expansion-panel>




        </table>

        <!-- <app-task-table [parentTaskData]="parentTaskData" [parentAndAllTask]="parentAndAllTask"
            [filteredStatus]="filteredStatuses" [filteredEmployees]="filteredEmployees" [employees]="employees" [allStatus]="allStatus"
            [loggedInUserData]="loggedInUserData"
            ></app-task-table> -->

    </div>



</div>