<!-- <div class="cardd">
    <img class="image" src="assets/change.jpg">
    <div class="container mt-5 ">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header password-reset-card">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <i class="fa-solid fa-lock fa-bounce fa-xl"></i>
                            </div>
                            <div class="col">
                                <h3 class="card-title">Password Reset</h3>
                            </div>
                        </div>
                    </div>

                    <div class="card-body password-reset">
                        <form>
                            <div class="form-group">
                                <label for="newPassword" class="font-weight-bold">New Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="newPassword"
                                        placeholder="Enter new password" [(ngModel)]="newPassword" name="newPassword"
                                        required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                            (click)="togglePassword('newPassword')">Show</button>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="font-weight-bold">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="confirmPassword"
                                        placeholder="Confirm new password" [(ngModel)]="confirmPassword"
                                        name="confirmPassword" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                            (click)="togglePassword('confirmPassword')">Show</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-block" (click)="changePassword()">Change
                                Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<section class="vh-100" style="background-color: #7981d6;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block" style="margin-top: 20px;">
                            <img src="assets/forgot.png" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form>
                                    <div class="d-flex align-items-center mb-3 pb-1">

                                        <i class="fa-solid fa-lock fa-bounce fa-2xl  me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Reset Password</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="newPassword" class="font-weight-bold">New Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="newPassword"
                                                placeholder="Enter new password" [(ngModel)]="newPassword"
                                                name="newPassword" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    (click)="togglePassword('newPassword')">Show</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword" class="font-weight-bold">Confirm Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="confirmPassword"
                                                placeholder="Confirm new password" [(ngModel)]="confirmPassword"
                                                name="confirmPassword" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    (click)="togglePassword('confirmPassword')">Show</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-block"
                                        (click)="changePassword()">Change
                                        Password</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<div class="container">
    <div class="login-container">
        <h2>Change Password</h2>
        <form #loginForm="ngForm">
            <div class="form-group">
                <label for="newPassword" class="font-weight-bold">New Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="newPassword" placeholder="Enter new password"
                        [(ngModel)]="newPassword" name="newPassword" required (input)="checkPasswordLength()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-sm" type="button"
                            (click)="togglePassword('newPassword')">Show</button>
                    </div>

                </div>
                <div class="note" *ngIf="newPassword" style="color: red;">
                    <p>*Password must be at least 8 characters</p>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="font-weight-bold">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password"
                        [(ngModel)]="confirmPassword" name="confirmPassword" required (input)="checkPasswordLength()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-sm" type="button"
                            (click)="togglePassword('confirmPassword')">Show</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary form-control" [disabled]="isSubmitDisabled"
                    (click)="changePassword()">Submit</button>
            </div>
            <!-- <div class="col-auto">
            <button type="reset" class="btn btn-reset">Reset</button>
          </div> -->

        </form>
    </div>
</div>