<div class="container-fullwidth">

    <div class="taskTable" *ngIf="parentAndAllTask">

        <ng-container *ngIf="parentAndAllTask.parentTasks.length>0; else nodata">
            <div class="align-right">
                <span title="Add Task" class="fa-solid fa-circle-plus fa-xl mainaddtaskbtn -mt35px"
                    style="color: #03a300;" data-bs-toggle="modal" attr.data-bs-target="#createTask{{modalId + 1}}"
                    (click)="onClickCreateTask(task, 'ADD', $event)"></span>
            </div>


            <ng-container *ngFor="let parentTaskData of parentAndAllTask.parentTasks; let i = index">
                <ng-container
                    *ngIf="(parentTaskData.childTask | statusFilter:filteredStatus | employeeTaskFilter:filteredEmployees).length>0">

                    <mat-card class="card" (click)="NavigateParentView(parentTaskData.taskId)">



                        <mat-card-content style="text-align: center">

                            <img src="{{displayCompanyLogo}}/{{companyId}}"
                                style="width: 90%; height: 140px; border: 2px solid; border-radius: 15px;margin-right: 30px;">


                            <!-- <span title="Add Task" class="fa-solid fa-circle-plus fa-xl addtask" id="childAddBtn"
                    data-bs-toggle="modal" attr.data-bs-target="#createTask{{modalId + 1}}"
                    (click)="onClickCreateTask(parentTaskData, 'ADD', $event)"></span> -->
                        </mat-card-content>

                        <mat-card-content style="text-align: center">
                            <h1 style="color:black;word-break:break-all;font-size: medium;">{{parentTaskData.taskName}}
                            </h1>

                            <!-- <span title="Add Task" class="fa-solid fa-circle-plus fa-xl addtask" id="childAddBtn"
                                data-bs-toggle="modal" attr.data-bs-target="#createTask{{modalId + 1}}"
                                (click)="onClickCreateTask(parentTaskData, 'ADD', $event)"></span> -->
                        </mat-card-content>

                        <mat-card-content id="statusdesc">
                            <ng-container *ngFor="let status of allStatus">
                                <ng-container *ngIf="status.statusId == parentTaskData.taskStatus">

                                    <ng-container *ngIf="status.statusCode === 'Created'">
                                        <h5 style="background-color: #03a300;">Status: {{status.statusCode | titlecase}}
                                        </h5>
                                    </ng-container>

                                    <ng-container *ngIf="status.statusCode === 'In-progress'">
                                        <h5 style="background-color:#D7BDE2;">Status: {{status.statusCode | titlecase}}
                                        </h5>
                                    </ng-container>

                                    <ng-container *ngIf="status.statusCode === 'Cancelled'">
                                        <h5 style="background-color:cyan;">Status: {{status.statusCode | titlecase}}
                                        </h5>
                                    </ng-container>

                                    <ng-container *ngIf="status.statusCode === 'Done'">
                                        <h5 style="background-color:lightblue;">Status:
                                            {{status.statusCode | titlecase}}
                                        </h5>
                                    </ng-container>
                                </ng-container>
                            </ng-container>


                        </mat-card-content>

                    </mat-card>
                </ng-container>
            </ng-container>


            <ng-container *ngFor="let parentTaskData of parentAndAllTask.parentTasks; let i = index">
                <ng-container
                    *ngIf="(parentTaskData.childTask | statusFilter:filteredStatus | employeeTaskFilter:filteredEmployees).length>0">

                    <!-- called on click function when logged employee is creator -->
                    <mat-expansion-panel class="expansionrow" hideToggle="false"
                        (click)="toggleChildTable(parentTaskData)"
                        [expanded]="toggledTasksIds.has(parentTaskData.taskId)">
                        <!-- <mat-expansion-panel-header>
                            <mat-panel-title>
                                <b>{{parentTaskData.taskName}}</b>
                            </mat-panel-title>
                            <mat-panel-description class="align-right">

                                <span title="Add Task" class="fa-solid fa-circle-plus fa-xl addtask"
                                    style="color: #03a300;" data-bs-toggle="modal"
                                    attr.data-bs-target="#createTask{{modalId + 1}}"
                                    (click)="onClickCreateTask(parentTaskData, 'ADD', $event)"></span>

                            </mat-panel-description>
                        </mat-expansion-panel-header> -->
                        <!-- {{task|json}} -->
                        <!-- {{parentAndAllTask|json}} -->
                        <table class="table table-striped table-bordered table-custom-font-size">
                            <thead>
                                <!-- Header Row -->
                                <ng-container *ngTemplateOutlet="headers"></ng-container>
                            </thead>
                            <tbody>

                                <!-- Main Rows with Expandable Child Panels -->
                                <ng-container
                                    *ngFor="let childTaskData of parentTaskData.childTask | statusFilter: filteredStatus| employeeTaskFilter:filteredEmployees; let i = index">

                                    <!-- if child's parent id and parent id is same OR child's task id and parent task id is same(means it is parent task ) -->
                                    <ng-container
                                        *ngIf="childTaskData.taskParent == parentTaskData.taskId || (childTaskData.taskId == parentTaskData.taskId)">
                                        <ng-container
                                            *ngTemplateOutlet="tableRows; context: {$implicit: childTaskData}"></ng-container>
                                    </ng-container>
                                </ng-container>

                            </tbody>
                        </table>

                    </mat-expansion-panel>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>



    <ng-template #headers>
        <tr>
            <!-- <th scope="col">Task</th> -->
            <th scope="col" class="col-sm-2">Task Name</th>
            <th scope="col" class="col-sm-2">Description</th>
            <th scope="col" class="col-sm-1.5">Created By</th>
            <th scope="col" class="col-sm-1.5">Assigned To</th>
            <th scope="col">ETC</th>
            <th scope="col">Status</th>
            <th scopr="col">End Date</th>
            <th scope="col">Action</th>
        </tr>
    </ng-template>


    <ng-template #tableRows let-taskData>


        <ng-container
            *ngIf="taskData.taskParent>0 || (taskData.taskCreatedBy==employeeId || taskData.taskAssignedTo==employeeId || loggedInUserData.showAllTasks == true)">
            <tr [ngClass]="{'table-info':taskData.taskParent==0}" class="col-height">

                <td for="taskName" data-toggle="tooltip" data-placement="right" title="{{taskData.taskName}}">{{
                taskData.taskName | slice:0:20 }} </td>
                <td for="taskDescription" data-toggle="tooltip" data-placement="right"
                    title="{{taskData.taskDescription}}">
                    {{
                taskData.taskDescription | slice:0:20 }}
                </td>
                <td>
                    <ng-container *ngFor="let employee of employees">
                        <ng-container *ngIf="employee.employeeId == taskData.taskCreatedBy">
                            {{employee.firstName | titlecase}} {{employee.lastName | titlecase}}
                        </ng-container>
                    </ng-container>

                </td>
                <td>

                    <ng-container *ngFor="let employee of employees">
                        <ng-container *ngIf="employee.employeeId == taskData.taskAssignedTo">
                            {{employee.firstName | titlecase}} {{employee.lastName | titlecase}}
                        </ng-container>
                    </ng-container>

                </td>
                <td>{{ taskData.taskEndDate | date: selectedDateFormat}}</td>
                <td>

                    <ng-container *ngFor="let status of allStatus">
                        <ng-container *ngIf="status.statusId == taskData.taskStatus">
                            {{status.statusCode | titlecase}}
                        </ng-container>
                    </ng-container>

                </td>
                <td>{{taskData.taskActualEndDate | date: selectedDateFormat}}</td>
                <td>
                    <div class="row">


                        <div class="col icons" *ngIf="parentAndAllTask.parentTasks.length>0">
                            <span title="Save Task" class="fa-solid fa-circle-down fa-rotate-180 fa-xl"
                                data-bs-toggle="modal" attr.data-bs-target="#createTask{{modalId + 1}}"
                                (click)="onClickCreateTask(taskData, 'UPDATE', $event)" style="color: #0095a8;"></span>
                        </div>

                        <div class="col icons" *ngIf="parentAndAllTask.parentTasks.length>0">
                            <span title="Response history" class="fa-solid fa fa-history fa-xl"
                                [routerLink]="['changehistory', taskData.taskId]" style="color: blue"></span>
                        </div>
                    </div>

                </td>
            </tr>

            <tr *ngIf="showChildTable.get(taskData.taskId)">
                <td colspan="9">

                    <app-task-table [modalId]="modalId + taskData.taskId + 1" [parentTaskData]="taskData.childTask"
                        [employees]="employees" [allStatus]="allStatus"></app-task-table>
                </td>
            </tr>
        </ng-container>
    </ng-template>


    <app-create-task [modalId]="modalId + 1" [task]="emptyTask" [parentTask]="parentTask" [allEmployees]="employees"
        [allStatus]="allStatus" [updateScreen]="updateScreen" [allVisas]="allVisas" [allTaxTypes]="allTaxTypes"
        [allJobLocations]="allJobLocations" [allJobPortals]="allJobPortals"
        (afterCreateTask)="afterCreateTask()"></app-create-task>




    <ng-template #nodata>
        <div class="align-right">
            <span title="Add Task" class="fa-solid fa-circle-plus fa-xl mainaddtaskbtn -mt35px" style="color: #03a300;"
                data-bs-toggle="modal" attr.data-bs-target="#createTask{{modalId + 1}}"
                (click)="onClickCreateTask(task, 'ADD', $event)"></span>
        </div>
        <h4>📋Task Creation Guide</h4>
        <div class="instructions">
            <p>Hey Task Titan! 🚀 Ready to conquer your first task? Follow these quick steps:</p>
        </div>
        <div class="step">
            <p>1. 🌟 Click the
                <span title="Add Task" class="fa-solid fa-circle-plus fa-xl " style="color: #03a300;"
                    data-bs-toggle="modal" attr.data-bs-target="#createTask{{modalId + 1}}"
                    (click)="onClickCreateTask(task, 'ADD', $event)"></span>
                sign in the top right corner.
            </p>
        </div>

        <div class="step">
            <p>2. ✏️ Fill in your task details</p>
        </div>

        <div class="step">
            <p>3. 🚀 Hit 'Save' like launching a rocket.</p>
        </div>