.card {
  width: 230px;
  display: inline-block;
  margin-left: 40px;
  background-color: transparent;
  margin-bottom: 30px;
  height: 200px;
  margin-top: 30px;
  border: 1px grey;


}

#childAddBtn {
  margin-left: 300px;
}

