<div class="container">
    <div class="d-flex justify-content-between align-items-center w-100">
        <h2>Add Company</h2>
        <span (click)=" RedirectToCompany()" class="fa-solid fa-circle-arrow-left fa-lg"
            style="font-size: 23px; color: rgb(20, 18, 18); cursor: pointer;"></span>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label class="label" for="companyCountryId">Country:</label>
            <select id="companyCountryId" name="companyCountryId" [(ngModel)]="company.companyCountryId" required
                class="form-control">
                <option value="">Select</option>
                <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}</option>
            </select>
        </div>
        <div class="col-md-4">
            <label class="label" for="companyCode">Company Code:</label>
            <input type="text" id="companyCode" name="companyCode" [(ngModel)]="company.companyCode" required
                class="form-control">
        </div>
        <div class="col-md-4">
            <label class="label" for="companyName">Company Name:</label>
            <input type="text" id="companyName" name="companyName" [(ngModel)]="company.companyName" required
                class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="label" for="companyContactEmail">Contact Email:</label>
            <input type="email" id="companyContactEmail" name="companyContactEmail"
                [(ngModel)]="company.companyContactEmail" required class="form-control">
        </div>

        <div class="col-md-4">
            <label class="label" for="companyContactPhone">Contact Phone:</label>
            <input type="number" id="companyContactPhone" name="companyContactPhone"
                [(ngModel)]="company.companyContactPhone" required class="form-control">
        </div>
        <div class="col-md-4">
            <label class="label" for="companyAddress">Address:</label>
            <input type="text" id="companyAddress" name="companyAddress" [(ngModel)]="company.companyAddress" required
                class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="label" for="companyZip">Zip Code:</label>
            <input type="number" id="companyZip" name="companyZip" [(ngModel)]="company.companyZip" required
                class="form-control">
        </div>

    </div>

    <div>
        <button type="submit" [disabled]="!isFormValid()" (click)="addCompany(company)" class="btn btn-primary mt-3"
            style="border-radius: 50px;">Submit</button>

    </div>



</div>