.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 100px;
    border: 2px solid black;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: 500;
}

.form-control {
    border-radius: 6px;
    font-size: 18px;
}

.btn {
    background-color: #337AB7;
    border: none;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}


button {
    margin: 5px;
}

::placeholder {
    color: #ccc;
    /* Use a nearly white or very light gray color */
}

.forgot-password {
    text-align: right;


}

.login-button {
    margin-top: 20px;
}

.forgot-password a:hover {
    color: #0be168;
    /* Change the color to your desired hover color */
    text-decoration: underline;
    /* Add an underline effect on hover */
    /* You can also add other styles as needed */
}

.col-auto a {
    display: inline-block;
    margin-right: 10px;

    /* Adjust the margin as needed to control spacing */
}

.resetbtn {
    background: none;
    border: none;
    outline: none;
    color: #337AB7 !important;
    cursor: pointer;
    text-decoration: underline;
}

.admin-button {
    float: right;
}