<div class="container">
  <div class="login-container">
    <h2>Login</h2>
    <form #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="username" name="username"
          [(ngModel)]="passwordData.username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="password" name="password"
          [(ngModel)]="passwordData.password">
      </div>
      <!-- <div class="form-group">
        <label for="userType">Login As:</label>
        <select class="form-control" id="userType" name="userType" [(ngModel)]="selectedUserType">
          <option value="admin">Admin</option>
          <option value="employee">Employee</option>
        </select>
      </div> -->
      <!-- <div *ngIf="empData.admin ==true">
        <div class="form-group">
          <label>Login As:</label>
          <button [routerLink]="['/company']">Admin</button>
          <button [routerLink]="['/dashboard']">Employee</button>
        </div>
      </div> -->
      <label *ngIf="isLoggedIn==false && clicked">Please enter correct username or password</label>
      <div class="col-auto row">
        <div class="col reset">
          <button type="reset" class="text-muted resetbtn">Reset
            Form?</button>
        </div>
        <div class="col forgot-password">
          <button type="button" class="btn btn-link" [routerLink]="['/forgot']" class="text-muted resetbtn">Forgot
            Password?</button>
        </div>
      </div>



      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control" (click)="login(passwordData)">Login</button>
      </div>


      <!-- <div class="col-auto">
          <button type="reset" class="btn btn-reset">Reset</button>
        </div> -->

    </form>
  </div>
</div>

<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div> -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login As:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          [routerLink]="['/dashboard']">Employee</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
          [routerLink]="['/company']">Admin</button>
      </div>

    </div>
  </div>
</div>

<!-- <i class="fa-solid fa-grip-vertical"></i> -->


<app-footer></app-footer>