button {
  margin: 5px;
}

.form-check input,
.form-check label {
  cursor: pointer;
}

.form-check label:hover {
  color: blue;
  /* Change this to your desired color */
}

.form-check {
  margin-left: 12px;
}

.border {
  margin: 2px;
}

.row {
  margin-top: 5px;
  border-color: black;
  border-width: 4px;
}

.border-around {
  border: 1px solid black;
  /* Define your desired border style here */
}

.radio-border {
  border: 1px solid #000;
  /* Define your desired border style here */
  padding: 4px;
  /* Add padding to separate the border from the label */
  margin-right: 6px;
  /* Add margin to separate the radio button from the label */
}