<div class="row">

    <!-- created by  -->
    <div class="col border-around">
        <b> Created By:</b>
        <div class="row ">
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="createdBy" id="createdByMe"
                    [value]="employeeId" [(ngModel)]="selectedCreatedBy" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="createdByMe">
                    Me
                </label>
            </div>

        </div>
        <div class="row ">
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="createdBy" id="createdByAll" [value]="0"
                    checked [(ngModel)]="selectedCreatedBy" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="createdByAll">
                    All
                </label>
            </div>
        </div>
    </div>
    <!-- assigned to -->
    <div class="col border-around">
        <b> Assigned To:</b>
        <div class="row">
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="assignedTo" id="assignedToMe"
                    [value]="employeeId" [(ngModel)]="selectedAssignedTo" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="assignedToMe">
                    Me
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="assignedTo" id="assignedToAll"
                    [value]="0" checked [(ngModel)]="selectedAssignedTo" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="assignedToAll">
                    All
                </label>
            </div>
        </div>
    </div>

    <div class="col border-around">
        <b> Task :</b>
        <div class="row">
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="task" id="allParentTask" value="ALL"
                    checked [(ngModel)]="selectedTask" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="allParentTask">
                    All
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="task" id="createdTask" value="CREATED"
                    [(ngModel)]="selectedTask" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="createdTask">
                    Created
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="task" id="inprogressTask"
                    value="INPROGRESS" [(ngModel)]="selectedTask" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="inprogressTask">
                    Inprogress
                </label>
            </div>
            <div class="col form-check">
                <input class="form-check-input radio-border" type="radio" name="task" id="doneTask" value="DONE"
                    [(ngModel)]="selectedTask" (change)="onChangeFilterTask()">
                <label class="form-check-label" for="doneTask">
                    Done
                </label>
            </div>
        </div>
    </div>

</div>