<!-- Navbar -->
<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light; bg-light">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Hero section -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Task Tracking System</h1>

            </div>
            <div class="col">
                <!-- <img src="..." alt="..."> -->
                <img src="assets/imageAdmin.jpg">
            </div>
        </div>

    </div>
</section>
<!-- Hero section ends here -->


<!-- End of About Us -->

<!-- Projects section -->
<div class="container">
    <div class="row align-items-center projects">

        <div class="row align-items-center">
            <div class="col">
                <div class="card mb-3">
                    <img src="assets/ttsimage.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title 1</h5>
                        <p class="card-text">The idea for Task Tracking System was born out of a collective frustration
                            with the complexities of
                            managing tasks and projects.</p>
                        <p class="card-text"><small class="text-muted">Some useful info</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="assets/ttsimge2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title 2</h5>
                        <p class="card-text">A platform
                            that embodies their vision of a seamless and intuitive project management solution.</p>
                        <p class="card-text"><small class="text-muted">Some useful info</small></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img src="assets/ttsimage3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Title 3</h5>
                        <p class="card-text">A tool that could centralize tasks, eliminate confusion, and ensure that
                            projects stay on track</p>
                        <p class="card-text"><small class="text-muted">Some useful info</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us -->
        <section id="about-us">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- another image can be inserted here -->
                        <img src="assets/taskimage.jpg" style="height:400px ;" class="img-fluid" />
                    </div>
                    <div class="col">
                        <h1>About Me</h1>
                        <p>Welcome to the future of efficient management and organization with our innovative Task
                            Tracking
                            System. Our platform is designed to streamline your workflow, enhance collaboration, and
                            empower
                            your team to achieve unparalleled productivity.</p>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>