<div class="container">
    <div>
        <label class="name" for="name">
            FirstName LastName
        </label>
        
    </div>
    <div>
        <label class="company" for="company">
            Company Name
        </label>
    </div>
    <div class="container">

        <!-- status buttons (Created/ In-Progress/ Done) -->
        <app-status-buttons (onClickCreated)="onClickCreated($event)" (onClickDone)="onClickDone($event)" (onClickInProgress)="onClickInProgress($event)"></app-status-buttons>
        
    </div>

    <!-- task table  -->
    <app-task-table [parentTaskData]="parentTaskData"></app-task-table>
</div>