<!-- update-company.component.html -->

<div class="container">
    <fieldset class="border rounded-3">
        <legend class="float-none w-auto px-2">Update Company</legend>
        <form #addUpdateForm="ngForm">

            <div class="d-flex justify-content-between align-items-center w-100">
                <h2></h2>
                <span (click)="navigateToCompany()" class="fa-solid fa-circle-arrow-left fa-lg"
                    style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;"></span>

            </div>
            <!-- <div class="container">
    <form #updateCompanyData="ngForm">
        <div class="d-flex justify-content-between align-items-center w-100">
            <h2>Update Company</h2>
            <span [routerLink]="['/company']" class="fa-solid fa-circle-arrow-left fa-lg"
                style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;"></span>
        </div>
        <form #addUpdateForm="ngForm" class="form-material"> -->
            <div class="row">
                <div class="col-md-4">
                    <label class="label" for="companyCode">Company Code:</label>
                    <input type="text" id="companyCode" name="companyCode" [(ngModel)]="company.companyCode" required
                        class="form-control" [disabled]="true" maxlength="25">
                </div>
                <div class="col-md-4">
                    <label class="label" for="companyName">Company Name:</label>
                    <input type="text" id="companyName" name="companyName" [(ngModel)]="company.companyName" required
                        class="form-control" [disabled]="true" maxlength="100">
                </div>
                <div class="col-md-4">
                    <label class="label" for="companyContactEmail">Contact Email:</label>
                    <input type="email" id="companyContactEmail" name="companyContactEmail"
                        [(ngModel)]="company.companyContactEmail" required pattern="[a-z0-9.]+@[a-z]+\.[a-z]{2,3}"
                        class="form-control" maxlength="50" #emailField="ngModel">
                    <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)" class="text-danger">
                        Invalid
                        Email
                        Address.</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="label" for="companyContactPhone">Contact Phone:</label>
                    <input type="number" id="companyContactPhone" name="companyContactPhone"
                        [(ngModel)]="company.companyContactPhone" required class="form-control"
                        (input)="limitPhoneLength($event)" #phoneField="ngModel">
                    <div *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)" class="text-danger">
                        Phone is
                        required.</div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="companyAddress">Address:</label>
                    <input type="text" id="companyAddress" name="companyAddress" [(ngModel)]="company.companyAddress"
                        required class="form-control" maxlength="255" #addressField="ngModel">
                    <div *ngIf="addressField.invalid && (addressField.dirty || addressField.touched)"
                        class="text-danger">
                        Address is
                        required.</div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="companyZip">Zip Code:</label>
                    <input type="number" id="companyZip" name="companyZip" [(ngModel)]="company.companyZip" required
                        class="form-control" (input)="limitZipCodeLength($event)" #zipField="ngModel">
                    <div *ngIf="zipField.invalid && (zipField.dirty || zipField.touched)" class="text-danger">Zip Code
                        is
                        required.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label class="label" for="companyCountryId">Country:</label>
                    <select id="companyCountryId" name="companyCountryId" [(ngModel)]="company.companyCountryId"
                        required class="form-control" #countryField="ngModel">
                        <option value="">Select</option>
                        <option *ngFor="let country of countries" [value]="country.countryId">{{ country.countryName }}
                        </option>
                    </select>
                    <div *ngIf="countryField.invalid && (countryField.dirty || countryField.touched)"
                        class="text-danger">
                        Country is
                        required.</div>
                </div>
                <div class="col-md-4">
                    <label class="label" for="photoFilename">Logo:</label>
                    <input type="file" id="photoFilename" name="photoFilename" (change)="onFileSelected($event)"
                        class="form-control" ngModel #logoField="ngModel">
                    <div *ngIf="logoField.invalid && (logoField.dirty || logoField.touched)" class="text-danger">Logo is
                        required.
                    </div>
                </div>
            </div>

            <div>
                <img *ngIf="!selectedFile" src="{{companyUrl}}/{{company.companyId}}">
                <img *ngIf="selectedFile" [src]="selectedFile ? selectedFileURL : ''" id="selectedProfilePic">
            </div>

            <div>
                <button type="button" [disabled]="!addUpdateForm.valid" class="btn btn-primary mt-3"
                    (click)="updateCompany(company)">Update</button>
            </div>

        </form>
    </fieldset>
</div>
<app-footer></app-footer>