.table-container {
    border: 1px solid black;
    /* You can customize the border style and color here */
    padding: 0% 1% 1% 1%;
    /* Add some padding to create space between the border and content */
    border-radius: 5px;
    /* Optionally, add rounded corners */
}

fieldset {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 2px solid black !important;

}

.p-5 {
    padding: 1rem !important;
}

.name,
.company {
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2c2c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a.active {
    background-color: red;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2d2c2c;
}

.admindashboard {
    color: violet;
    font-weight: bold;
    text-align: center;
}

.navbar-toggler {
    background-color: white;
}

.fa-power-off {
    font-size: 30px;
    color: rgb(255, 0, 0);
    cursor: pointer;
    margin-right: 30px
}