<div class="container">
    <fieldset class="border rounded-3">
        <legend class="float-none w-auto px-2">Job Portal</legend>

        <!-- Add button at the top right corner -->
        <div class="d-flex justify-content-end align-items-center w-100">
            <span class="fa-solid fa-circle-plus" (click)="navigateToAddPortal()"
                style='font-size:30px;color:  rgb(33, 176, 40); padding-bottom: 1%;'></span>

            <!-- <span [routerLink]="['/adminDash']" class="fa-solid fa-circle-arrow-left fa-lg"
                style="font-size: 30px; color: rgb(20, 18, 18); cursor: pointer;padding-bottom: 1%;"></span> -->
        </div>

        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th>Country ID</th> -->
                        <th>Portal Name</th>
                        <th>Portal Description</th>
                        <th>Bench</th>
                        <th>Sourcing</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let portal of jobPortals">
                        <!-- <td>{{ country.countryId }}</td> -->
                        <td>{{ portal.portalName }}</td>
                        <td>{{ portal.portalDescription }}</td>

                        <td>
                            <span *ngIf="portal.forBench" class="fa-solid fa-check-square fa-lg"
                                style='font-size: 23px;color: green;'></span>
                            <span *ngIf="!portal.forBench" class="fa-solid fa-square fa-lg"
                                style='font-size: 23px;color: grey;'></span>
                        </td>
                        <td>
                            <span *ngIf="portal.forSourcing" class="fa-solid fa-check-square fa-lg"
                                style='font-size: 23px;color: green;'></span>
                            <span *ngIf="!portal.forSourcing" class="fa-solid fa-square fa-lg"
                                style='font-size: 23px;color: grey;'></span>
                        </td>

                        <td>
                            <span *ngIf="portal.jobActive == true" class="fa-solid fa-check-square fa-lg"
                            style='font-size: 23px;color: green;'></span>
                         <span *ngIf="!portal.jobActive == true"  class="fa-solid fa-square-xmark"
                            style='font-size: 23px;color: red;'></span> 
                            
                        </td>

                        <td>

                            <!-- Update Button -->
                            <span class="fa-solid fa-circle-down fa-rotate-180 fa-xl"
                                style='font-size:23px;color: rgb(64, 109, 234);'
                                (click)="redirectToUpdate(portal)"></span>
                            <!-- Delete Button -->
                            &nbsp;
                            &nbsp;
                            <!-- <span class='fa-solid fa-trash fa-xl' style='font-size:23px;color: red;'
                                (click)="onDeleteStatus(portal.portalId)"></span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>